 
<div dir="rtl">
       <div class="header">
            <div class="header-title">لوحة تحكم ساكادو</div>
            <div class="header-actions">
                <div class="search-box">
                    <input type="text" placeholder="بحث...">
                    <i class="fas fa-search"></i>
                </div>
                <div class="user-profile">
                    <div class="user-avatar">م</div>
                    <div>محمد أحمد</div>
                </div>
            </div>
        </div>
 
    <div class="sidebar  " dir="rtl">
        <div class="logo">
            <h1>ساكادو <span>للرحلات</span></h1>
        </div>
        
        <div class="nav-links">
            <div class="nav-item active" routerLink="dashboard" routerLinkActive="active" >
                <i class="fas fa-chart-line"></i>
                <span class="nav-text">لوحة التحكم</span>
            </div>
            <div class="nav-item" routerLink="PackageManagement" routerLinkActive="active">
                <i class="fas fa-map-marked-alt"></i>
                <span class="nav-text">إدارة الرحلات</span>
            </div>
            <div class="nav-item" routerLink="BookingManagement" routerLinkActive="active">
                <i class="fas fa-calendar-check"></i>
                <span class="nav-text">إدارة الحجوزات</span>
            </div>
            <div class="nav-item" routerLink="UserManagement" routerLinkActive="active">
                <i class="fas fa-users"></i>
                <span class="nav-text">إدارة المستخدمين</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-tags"></i>
                <span class="nav-text">التصنيفات</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-chart-pie"></i>
                <span class="nav-text">التقارير</span>
            </div>
            <div class="nav-item">
                <i class="fas fa-cog"></i>
                <span class="nav-text">الإعدادات</span>
            </div>
        </div>
    </div>
    

<router-outlet  ></router-outlet>
 
</div>
 