<!-- Navigation -->
<nav class="backdrop-blur-md shadow-md fixed w-full z-50" dir="rtl">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-4">
      <div
        class="flex items-center cursor-pointer"
        (click)="scrollToTop()"
      >
        <div
          routerLink="/"
          class="bg-[#86b817] w-10 h-10 rounded-full flex items-center justify-center"
        >
          <i class="fas fa-plane-departure text-white text-xl"></i>
        </div>
        <span
          routerLink="/"
          class="text-xl font-bold text-primary mr-2 select-none"
          >ساكادو</span
        >
      </div>

      <div class="hidden md:flex space-x-8" *ngIf="isLoggedIn">
        <a
          routerLink="/"
          class="text-primary ml-5 font-medium hover:underline hover:underline-offset-4 transition"
          (click)="scrollToTop()"
          >الرئيسية</a
        >
        <a
          routerLink="/about"
          class="text-primary  font-medium hover:underline hover:underline-offset-4 transition"
          (click)="scrollToSection('about')"
          >من نحن</a
        >
        <a
          routerLink="/gallery"
          class="text-primary font-medium hover:underline hover:underline-offset-4 transition"
          (click)="scrollToSection('gallery')"
          >المعرض</a
        >
        <a
          routerLink="/booking"
          class="text-primary font-medium hover:underline hover:underline-offset-4 transition"
          (click)="scrollToSection('booking')"
          >الباقات</a
        >
        <a
          routerLink="/contact"
          class="text-primary font-medium hover:underline hover:underline-offset-4 transition"
          (click)="scrollToSection('contact-us')"
          >تواصل معنا</a
        >
      </div>

      <div class="flex items-center">
        <button
          routerLink="/auth/register"
          class="bg-[#86b817] text-white font-medium py-2 px-6 rounded-full transition"
          *ngIf="!isLoggedIn"
        >
          انضم إلينا
        </button>
        <button
          routerLink="/auth/register"
          class="bg-[#4c956c] text-white font-medium py-2 px-6 rounded-full transition"
          *ngIf="isLoggedIn"
          (click)="onLogout()"
        >
          تسجيل الخروج
        </button>
        <button class="md:hidden ml-4 text-gray-600">
          <i class="fas fa-bars text-xl"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
